html, body {
  height: 100%;
}

body {
  background-color: #b9e6fb;
  font-family: 'Baloo Bhaina', cursive;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
  padding: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.clip-text {
  background: url(../img/rainbow-gif-tumblr-6.gif);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;/ 
  width: 300px;
  height: 150px;
  box-sizing: border-box;
  font-size:98px;
  font-weight: bolder;
  text-align: center;
  line-height: 150px;
  flex-shrink: 0;
}